.logo {
    cursor: pointer;
    width: 30%;
    border-radius: 100%;
}
.navbar_links, li, a {
    list-style: none;
    display: inline-block;
    padding: 0px 5px;
    text-decoration: none;
}
.navbar_links, li, a:hover {
    color: cornflowerblue;
}

.center {
    text-align: center;
    font-size: 50px;
}
.allHeaders {
    font-style: italic;
    text-align: center;
    font-size: 45px;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   background-color: darkslategrey;
   color: white;
}
li, a {
    font-family:monospace;
    font-weight: 300;
    font-size: 16px;
    color: aliceblue;
    font-size: 25px;
    text-align: center;
    padding: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
}
.picture {
    border-radius: 50%;
}

#bug {
    color: red;
}

.project-picture {
    width: 100%;
    max-height: 355px;
}

.card {
    box-shadow: 10px 10px 10px 0 black;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }

  .projectcard {
    box-shadow: 10px 10px 10px 0 black;
    max-width: 500px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
  }

  .resume-card {
    box-shadow: 10px 10px 10px 0 black;
    max-width: 500px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
  }

  .project-container {
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    flex-direction: row;
  }
  
  .title {
    color: white;
    font-size: 22px;
  }